.rating-ui {
  display: flex;
  margin: 0;
  padding: 0;
}

.rating-ui li.star {
  list-style: none;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.rating-ui li.star:hover {
  transform: scale(1.1);
}

.rating-ui li svg {
  width: 48px;
  height: 48px;
}

.rating-ui li svg path {
  fill: #ddd;
}

.rating-ui li.active svg path {
  fill: #ffcc00 !important;
}
